* {
	font-family: Arial, sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: rgb(25,25,25);
	padding: 50px;
	margin: 0;

}

h1 {
	margin: 0;
	color: white;
}

.noSelect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.container {
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 0;
}

#canvas {
	cursor: crosshair;
}

/*Buttons*/
.button {
	border-radius: 5px;
	height: auto;
	width: auto;
	color: white;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
}

.startLevel {
	background-color: rgb(0, 200, 0);
	display: inline-block;
}

#nextLevel {
	background-color: rgb(0, 200, 0);
	position: absolute;
}

/*Screens*/
#startScreen {
	background-color: black;
	height: 500px;
	width: 1000px;
	z-index: 5;
	position: absolute;
	margin: 0;
	color: white;
	padding: 100px;
	cursor: default;
}

#levelCompleteScreen {
	background-color: rgba(0, 0, 0, 0.5);
	height: 500px;
	width: 1000px;
	z-index: 5;
	position: absolute;
	visibility: hidden;
	margin: 0;
	cursor: default;
}

#levelCompleteScreen h1 {
	color: rgb(255, 255, 0);
	position: absolute;
	top: 40%;
	left: 40%;
}

#levelCompleteScreen h2 {
	color: rgb(255, 255, 0);
	position: absolute;
	top: 50%;
	left: 40%;
}

#gameOverScreen {
	background-color: rgba(0, 0, 0, 0.5);
	height: 500px;
	width: 1000px;
	z-index: 5;
	position: absolute;
	visibility: hidden;
	margin: 0;
	cursor: default;
}

#gameOverScreen h1 {
	color: red;
	position: absolute;
	top: 40%;
	left: 40%;
}

#info {
	margin: 0;
	width: 1000px;
	height: 500px;
}

#levelSelection {
	width: 1000px;
	height: auto;
	/*background-color: red;*/
	clear: both;
	padding-top: 25px;
	padding-bottom: 25px;
}

#scores {
	display: inline-block;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	float: left;
}

#timer {
	display: inline-block;
	width: 500px;
	height: 100px;
	margin: 0;
	padding: 0;
	float: right;
}

#scores, #timer {
	/*border: 2px solid white;*/
}



