* {
	font-family: Arial, sans-serif;
}

body {
	background-color: yellow;

}

.container {
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 0;
}

#canvas {

}

/*Buttons*/
.button {
	border-radius: 5px;
	height: auto;
	width: auto;
	color: white;
	padding: 10px;
	font-weight: bold;
	cursor: pointer;
}

#start {
	background-color: rgb(0, 200, 0);

}

#nextLevel {
	background-color: rgb(0, 200, 0);
	position: absolute;
}

/*Screens*/
#startScreen {
	background-color: black;
	height: 500px;
	width: 1000px;
	z-index: 5;
	position: absolute;
	margin: 0;
}

#levelCompleteScreen {
	background-color: rgba(0, 0, 0, 0.5);
	height: 500px;
	width: 1000px;
	z-index: 5;
	position: absolute;
	visibility: hidden;
	margin: 0;
}

#levelCompleteScreen h1 {
	color: rgb(255, 255, 0);
	position: absolute;
	top: 40%;
	left: 40%;
}

#gameOverScreen {
	background-color: rgba(0, 0, 0, 0.5);
	height: 500px;
	width: 1000px;
	z-index: 5;
	position: absolute;
	visibility: hidden;
	margin: 0;
}

#gameOverScreen h1 {
	color: red;
	position: absolute;
	top: 40%;
	left: 40%;
}

#info {
	width: 1000px;
	height: 200px;
	background-color: rgba(255, 0, 0, 0.5);
	margin: 0;
}



